.bck-btn-comp{
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-size: 1.2rem;    
    border-radius: 20px;
    background-color: #00516300;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;  
    height: fit-content;
    width: fit-content;
    font-weight: 400;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.bck-btn-comp:hover {
    background-color: #005163;
    color: white; 
    cursor: pointer;
}