.lb-icon {
    margin-right: 15px;
}

.light-btn-styled {
    width: 70%;
    background-color: #FFFFFF24;
    color: black;
    font-size: 28px;
    padding: 0px 20px;
    border-radius: 0px 40px 0px 40px;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 00;
    border-width: 1px;
    border-color: black;
    transition: box-shadow 0.3s, transform 0.3s;

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 7px rgba(0, 0, 0, 0.15);
}

.light-btn-styled:hover {
    background-color: #0051635e;
    color: black;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.light-btn-styled:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.10);
    transform: translateY(1px);
}