

.fp-main-wrapper{
    background-color: #ededed00;
    width: 100vw;
    height: 83vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.fp-left-section-wrapper{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    justify-content: space-evenly;
}

.fp-btn-wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}