.addnewprogram-canvas {
    width: 100vw;
    height: 83vh;
}

.addnewprogram-title-addnewprogrampage {
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px;
    padding-right: 100px;
    padding-left: 70px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-new-program-form {       
    display: flex;    
    flex-direction: column;
    align-items: start;   
    margin-top: 4px;         
}

.addprogram-main-form {
    display: flex;    
    flex-direction: row;
    align-items: start;   
}

.addprogram-form-left {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-right: 8vw;
    
}

.addprogram-datepicker{
    width: 30vw;
}

.addprogram-form-right {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-right: 7vw;
}

.addprogram-form-row {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;    
}

.addprogram-form-input {
    width: 30vw; 
}

.addprogram-form-label {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}

.registerbtn {
    align-self: center;
    margin: 2vh;
}