.bill-card {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.66);
    margin: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.bill-card:hover {
    background-color: rgba(240, 255, 255, 0.406);
    cursor: pointer;
}

.bill-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 0px;
    font-size: 1.1em;
}
.bill-card-header-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.bill-card-header-left .program-no-style {
    color: #005163;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 1.5px;
    overflow: hidden;
}

.bill-card-header-right {
    color: #004d5c;
    font-style: italic;    
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.1em;
}

.bill-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.bill-card-footer-left {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.2em;
    padding-top: 3px;
    letter-spacing: 1px;
}
