.no-bill-container{

    height: 83vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10%;
    font-size: 1.5em;

}

.bps-main-wrapper {
    width: 100vw;
    height: 83vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */
}

.bps-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bps-header-left{
    padding-top: 25px;
    display: flex;
    font-size: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}
.bps-header-text{
    margin-left: 10px;
    /* align-self: flex-end; */
}

.bps-body{
    width: 90%;
    margin-bottom: 30px;
}