.mainContainerLandingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 0.9rem;
}

.paddingUpLanding {
    height: 15vh;
}

.landingPageButtonContainer{    
    margin: 5vh;
    display: flex;
    gap: 30vh;
    justify-content: center;
}

.LandingLogo{
    height: 22vh;
    width: auto;
    margin: 7vh;    
}