.bp-main-wrapper {
    width: 100vw;
    height: 83vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.bp-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bp-header-right {
    padding: 0;
}

.bp-header-left {
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
    justify-content: end;
    align-items: start;    
    flex-grow: 1;
}

.bp-header-text {
    font-weight: bold;
    margin-left: 10px;
}

.bp-body {
    padding-right: 0;
    width: 90%;
}

.bp-col {
    display: flex;
    justify-content: center;
}