.addnewprogram-canvas {
    width: 100vw;
    height: 83vh;
    background-color: #ededed;
}

.addnewprogram-title {
    font-size: 2.5em;
    font-weight: bold;
    padding: 15px;
    padding-right: 50px;
    text-align: right;
}

.add-new-program-form {       
    display: flex;    
    flex-direction: column;
    align-items: start;   
    margin-top: 4px;         
}

.addrecievinginfo-main-form {
    display: flex;    
    flex-direction: row;
    align-items: start;   
}

.addrecievinginfo-form-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-right: 5vw;
    
}

.addrecievinginfo-datepicker{
    width: 30vw;
}

.addrecievinginfo-form-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-right: 7vw;
}

.addrecievinginfo-form-row {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;    
}

.addrecievinginfo-form-input {
    width: 30vw; 
}

.addrecievinginfo-form-label {
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
}

.registerbtn {
    align-self: center;
    margin: 2vh;
}